<launch>
    <arg name="front_scan" default="sick_scan"/>
    <arg name="rear_scan" default="hokuyo_scan"/>

    <node name="husky_panda_mobile_scan" pkg="husky_panda_mobile_slam_toolbox" type="husky_panda_mobile_scan">
        <param name="front_scan" value="$(arg front_scan)"/>
        <param name="rear_scan" value="$(arg rear_scan)"/>
    </node>

</launch>