<launch>
    <arg name="robot_namespace" default="/"/>
    <arg name="visualize_only" default="false"/>
    <arg name="single_arm" default="true"/>
    <arg name="gazebo" default="true"/>
    <arg name="connected_to" default="top_plate_link"/>
    <arg name="x"       default="0.15"/>
    <arg name="y"       default="0.0" if="$(arg single_arm)"/>
    <arg name="y"       default="0.15" unless="$(arg single_arm)"/>
    <arg name="z"       default="0.01"/>
    <arg name="roll"    default="0"/>
    <arg name="pitch"   default="0"/>
    <arg name="yaw"     default="0"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find husky_panda_description)/urdf/husky_panda.urdf.xacro'
        robot_namespace:=$(arg robot_namespace)
        single_arm:=$(arg single_arm)
        gazebo:=$(arg gazebo)
        connected_to:=$(arg connected_to)
        x:=$(arg x)
        y:=$(arg y)
        z:=$(arg z)
        roll:=$(arg roll)
        pitch:=$(arg pitch)
        yaw:=$(arg yaw)" />

    <!-- Visualize the robot model -->
    <group ns="$(arg robot_namespace)" if="$(arg visualize_only)">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find husky_panda_description)/rviz/husky_panda.rviz" output="screen"/>
    </group>
</launch>