<?xml version="1.0"?>
<launch>

  <arg name="simulation" default="$(optenv ROBOT_SIMULATION false)"/>
  <arg name="robot_namespace" default="$(optenv ROBOT_NAMESPACE robot)"/>
  <arg name="enable_ekf" default="$(optenv ENABLE_EKF true)"/>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find husky_panda_manipulation_bamboo)/config/husky_control.yaml" />

  <!-- <arg name="husky_description_file" default="$(find husky_panda_manipulation)/data/husky_wheels.urdf.xacro"/>
  <param name="husky_description" command="$(find xacro)/xacro $(arg husky_description_file)
      fixed_wheel:=False"/>

  <node name="husky_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <remap from="robot_description" to="husky_description"/>
    <remap from="joint_states" to="/husky/joint_states"/>
  </node> -->

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="husky_velocity_controller"/>
  <rosparam param="wheel_radius_multiplier" ns="husky_velocity_controller" subst_value="True">
        $(optenv HUSKY_WHEEL_MULTIPLIER 1.0)
  </rosparam>

  <!-- Start EKF for localization -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find husky_panda_manipulation_bamboo)/config/localization.yaml" />
    </node>
  </group>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find husky_panda_manipulation_bamboo)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
  </node>

</launch>
