<launch>
    <arg name="arm_id" default="panda"/>
    <arg name="gazebo" default="false"/>

    <!-- If you use gazebo to simulate the franka-->
    <rosparam file="$(find husky_panda_control)/config/franka_hw_sim.yaml" subst_value="true" if="$(arg gazebo)"/>
    <rosparam file="$(find husky_panda_control)/config/sim_controllers.yaml" subst_value="true" if="$(arg gazebo)"/>

    <rosparam command="load" file="$(find husky_panda_control)/config/franka_controllers.yaml" unless="$(arg gazebo)"/>

</launch>